html{
	box-sizing: border-box;
}
*, *::before, *::after{
	box-sizing: inherit;
}
body {
	margin: 0;
}
header {
	position: relative;
	text-align: center;
	padding-top: 1em;
}
header img{
	width: 25px;
}
header h1{
	display: inline;
}

nav li {
	display: inline;
	width: 25%;
	float: left;
	padding: .5em;
}
nav ol {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav{
	background-color: grey;
	margin-top: 1em;
}
header a{
	text-decoration: none;
	color: white;
}
.top img{
	width: 112%;
	margin: 0 -6%;
}
.top p {
    position: relative;
    top: -5em;
    color: white;
    text-align: center;
    margin-bottom: -4em;
    width: 100%;
  }

dl{
	display: inline-block;
}
main {
	margin:0 5%;
}
main img{
	width: 100%;
}
