html{
	box-sizing: border-box;
}
*, *::before, *::after{
	box-sizing: inherit;
}
body {
	margin: 0;
}
header {
	position: relative;
	text-align: center;
}
nav li {
	display: inline;
	width: 25%;
	float: left;
}
nav {
	top: 25em;
}

